@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Color Emoji";
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7d7d7d #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 999px;
}

.dark *::-webkit-scrollbar-track {
  background: #1a1b1e;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb {
  background-color: #7d7d7d;
  border-radius: 999px;
}
.dark *::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 999px;
}
